@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora&family=Montserrat:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #181719;
    padding: 50px 85px;
    color: #FFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 8px;
    color: #FFF;
}

header > a {
    border: 1px solid #FFF;
    font-family: 'Crimson Pro', serif;
}

section a{
    display: flex;
    align-items: center;
}

.ml-15 {
    margin-left: 15px;
}